Results/*
__pycache__/*
DownloadAPK/*
*.txt
!test_input.txt
*.apk
*.zip
*.[0-9][0-9][0-9]
*.xapk
*.crdownload
*.jar
*.html
*.aar
*.htm
*.pdf
!report.pdf
!test_report_1.pdf
!test_report_2.pdf
!test_report_3.pdf
*.docx
*.xml
*iml
*.filepart
*.shtml
*.pyc
*.log
Code.iml
misc.xml
vcs.xml